In [42]:
from pandas import *
import pandas as pd

In [43]:
authors = pd.DataFrame({
    'author_id': [1, 2, 3],
    'author_name': ['Тургенев', 'Чехов', 'Островский'],
})
books=pd.DataFrame({
    'author_id':[1, 1, 1, 2, 2, 3, 3],
    'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price':[450, 300, 350, 500, 450, 370, 290],
})
print(authors,'\n')
print(books)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [44]:
authors_price=pd.merge(authors, books, on='author_id', how='inner')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [45]:
top5=authors_price.sort_values(by='price',ascending=False).head()
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [46]:
# #authors_stat=pd.DataFrame({'author_name':[],'min_price':[],'max_price':[], 'mean_price':[]})
# groupby=authors_price.groupby("author_name")
# groupby['price'].max()

# author_name=groupby.agg({"author_name": "max"}).values
# min_price=groupby.agg({"price": "max"}).values
# max_price=groupby.agg({"price": "min"}).values
# mean_price=groupby.agg({"price": "mean"}).values
# print(author_name, min_price,max_price,mean_price)

# authors_stat=pd.DataFrame({'author_name':[[author_name][0],[author_name][1],[author_name][2]],
#                            'min_price':[[min_price],'max_price':[max_price], 'mean_price':[mean_price]})
# print(authors_stat)

In [47]:
authors_stat=(authors_price.groupby('author_name').agg({'price':'max'})).rename(columns={'price':'max_price'})
authors_stat= authors_stat.reset_index()
authors_stat1=(authors_price.groupby('author_name').agg({'price':'min'})).rename(columns={'price':'min_price'})
authors_stat2=(authors_price.groupby('author_name').agg({'price':'mean'})).rename(columns={'price':'mean_price'})
authors_stat=pd.merge(authors_stat, authors_stat1, on='author_name', how='inner')
authors_stat=pd.merge(authors_stat, authors_stat2, on='author_name', how='inner')
authors_stat

  author_name  max_price  min_price  mean_price
0  Островский        370        290  330.000000
1    Тургенев        450        300  366.666667
2       Чехов        500        450  475.000000

In [101]:
authors_price['cover']=['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [102]:
table=pd.pivot_table

In [103]:
import numpy as np
table = pivot_table(authors_price, values='price', index=['author_name','book_title'],columns=['cover'])
table

cover                             мягкая  твердая
author_name book_title
Островский  Гроза                  370.0      NaN
            Таланты и поклонники   290.0      NaN
Тургенев    Дворянское гнездо      350.0      NaN
            Отцы и дети              NaN    450.0
            Рудин                  300.0      NaN
Чехов       Дама с собачкой          NaN    450.0
            Толстый и тонкий         NaN    500.0

In [104]:
table['твердая'].fillna(0, inplace=True)
table['мягкая'].fillna(0, inplace=True)
table

cover                             мягкая  твердая
author_name book_title
Островский  Гроза                  370.0      0.0
            Таланты и поклонники   290.0      0.0
Тургенев    Дворянское гнездо      350.0      0.0
            Отцы и дети              0.0    450.0
            Рудин                  300.0      0.0
Чехов       Дама с собачкой          0.0    450.0
            Толстый и тонкий         0.0    500.0

In [106]:
table=table.groupby('author_name').agg({'мягкая':'sum','твердая':'sum'})
table

             мягкая  твердая
author_name
Островский    660.0      0.0
Тургенев      650.0    450.0
Чехов           0.0    950.0

In [122]:
book_info=table
book_info

             мягкая  твердая
author_name
Островский    660.0      0.0
Тургенев      650.0    450.0
Чехов           0.0    950.0

In [123]:
pd.to_pickle(book_info,'./book_info.pkl')

In [124]:
book_info2=pd.read_pickle("./book_info.pkl") 
book_info2

             мягкая  твердая
author_name
Островский    660.0      0.0
Тургенев      650.0    450.0
Чехов           0.0    950.0

In [125]:
book_info == book_info2

             мягкая  твердая
author_name
Островский     True     True
Тургенев       True     True
Чехов          True     True